<div class="form-group ">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= track.title %>">
    </div>
    <div>
        <label>Artist</label>
        <select name="artist">
            <% artists.forEach(artist => { %>
            <% if (artist.id === track.artist) { %>
            <option selected label="<%= artist.name %>" value="<%= artist.id %>">
                <% } else { %>
            <option label="<%= artist.name %>" value="<%= artist.id %>">
                <% } %>
                <% }) %>
        </select>
    </div>
    <div>
        <label class=>Release Date</label>
        <input type="date" name="releaseDate"
            value="<%= track.releaseDate == null ? "" : track.releaseDate.toISOString().split("T")[0] %>">
    </div>
    <div>
        <label>Duration</label>
        <input type="number" name="duration" min="1" value="<%= track.duration %>">
    </div><label style="float:left;">Cover</label>
    <div style="width:200px; height:200px; margin-left:65px; margin-bottom: 20px;">        
        <input type="file" name="cover" class="filepond">
    </div>
    <div>
        <label>Genre</label>
        <input type="text" name="genre"><%= track.genre %> </input>
    </div>
    
</div>