<div class="form-group ">
    <div>
        <label class="text-dark">Title</label>
        <input type="text" name="title" value="<%= track.title %>">
    </div>
    <div>
        <label class="text-dark">Artist</label>
        <select name="artist">
            <% artists.forEach(artist => { %>
            <% if (artist.id === track.artist) { %>
            <option selected label="<%= artist.name %>" value="<%= artist.id %>">
                <% } else { %>
            <option label="<%= artist.name %>" value="<%= artist.id %>">
                <% } %>
                <% }) %>
        </select>
    </div>
    <div>
        <label class="text-dark">Release Date</label>
        <input type="date" name="releaseDate"
            value="<%= track.releaseDate == null ? "" : track.releaseDate.toISOString().split("T")[0] %>">
    </div>
    <div>
        <label class="text-dark">Duration</label>
        <input type="number" name="duration" min="1" value="<%= track.duration %>">
<<<<<<< HEAD
    </div><label class="text-dark" style="float:left;">Cover</label>
    <div style="width:200px; height:200px; margin-left:65px; margin-bottom: 20px;">        
        <input type="file" name="cover" class="filepond">
=======
    </div>
    <div>
        <label class="text-light">Cover</label>
        <input type="file" name="cover">
>>>>>>> parent of 9bae50f (file upload renewed)
    </div>
    <div>
        <label class="text-dark">Genre</label>
        <textarea name="genre"><%= track.genre %> </textarea>
    </div>
    
</div>