<div class="container">
  <h2>Search Tracks</h2>
  <div>
    <form action="/tracks" method="GET">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
  </div>
  <div>
    <label>Released After</label>
    <input type="date" name="releasedAfter" value="<%= searchOptions.releasedAfter %>">
  </div>
  <div>
    <label>Released Before</label>
    <input type="date" name="releasedBefore" value="<%= searchOptions.releasedBefore %>">
  </div>


  <button class="btn btn-success" type="submit">Search</button>
  </form>
  <br>
  <% tracks.forEach(track => { %>
    <a href="/tracks/<%= track.id %>">
  <img src="<%= track.coverImagePath %> " height="150" width="150">
</a>
  <% }) %>