<nav class="container"> 
    <div class="mx-auto text-dark">
        <h4><%= track.title %> </h4>
        <img width="200" height="200" src="<%= track.coverImagePath %>" alt="">
        <br><br>
        <div><h6>Artist: <%= track.artist.name %> </h6></div>
        <div><h6>Release Date: <%= track.releaseDate.toDateString() %> </h6></div>
        <div><h6>Duration: <%= track.duration %></h6></div>
        <div><h6>Genre: <%= track.genre %> </h6></div>
<br>
        <button class="btn btn-primary"><a class="text-dark" href="/tracks/<%= track.id %>/edit">Edit</a></button>
        <%- include('../partials/deleteForm', { url: `/tracks/${track.id}`}) %>
        <button class="btn btn-primary"><a class="text-dark" href="/artists/<%= track.artist.id %>">View Artist</a></button>
    </div>
</nav>