<div class="container">
<h2>Search Artists</h2>

<form action="/artists" method="GET">
<label>Name</label>
<input type="text" name="name" value="<%= searchOptions.name %>">
<button class="btn btn-success" type="submit">Search</button>
</form>
<br>
<% artists.forEach(artist => { %>
  <h4><%= artist.name %></h4>
  <button class="btn btn-primary"><a class="text-light" href="/artists/<%= artist.id %>">View</a></button>
  <button class="btn btn-success"><a class="text-light" href="/artists/<%= artist.id %>/edit">Edit</a></button>
  <%- include('../partials/deleteForm',
  { url: `/artists/${artist.id}` }) %>
  <% }) %>