<nav class="container"> 
    <div class="mx-auto"> <h2>Edit Artist</h2> 
 
<h2 class="text-light"><%= artist.name %> </h2>
<a class="btn btn-primary" href="/artists/<%= artist.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
                 { url: `/artist/${artist.id}`}) %> 

<% if (tracksByArtist.length > 0) { %>
    <h2>Tracks by Artist</h2>
    <% tracksByArtist.forEach(track => { %>
      <a href="/tracks/<%= track.id  %>">
      <img height="150" width="150" src="<%= track.coverImagePath %>">
    </a>
    <% }) %>
  <% } %>                
    </div>
</nav>