<nav class="container"> 
    <div class="mx-auto"> <h4>Edit Artist</h4> 
 
<h4 class="text-dark"><%= artist.name %> </h4>
<a class="btn btn-primary" href="/artists/<%= artist.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
                 { url: `/artist/${artist.id}`}) %> 

<% if (tracksByArtist.length > 0) { %>
    <h4>Tracks by Artist</h4>
    <% tracksByArtist.forEach(track => { %>
      <a href="/tracks/<%= track.id  %>">
      <img height="150" width="150" src="<%= track.coverImagePath %>">
    </a>
    <% }) %>
  <% } %>                
    </div>
</nav>
<br><br><br><br><br>
<br><br><br><br>